* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

p {
  font-size: small;
  color: #6d6e76;
}

strong {
  font-size: xx-large;
}

section {
  align-items: center;
  padding: 140px 60px 100px;
  text-align: center;
}

button {
  padding: 10px 30px;
  background-color: #1b7c9d;
  color: white;
  border: none;
}

/* ========>  HEADER <======== */
header {
  font-size: 15px;
  font-weight: 500;
  padding: 0px 70px 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 1000;
  background-color: #bde2ea;
}

header.sticky {
  padding: 0px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px grey;
  transition: 0.6s;
}

header ul {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.6s;
}

/* ========> SECTION <======== */

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.section-1 .img,
.section-1 .text {
  margin: 0 2px; /* Jarak 2px di setiap sisi (kiri dan kanan) */
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
title {
  align-text: left;
}

.section-1 img.shuttle {
  width: 24px;
  margin-top: 20px;
}
.star {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start {
  margin-left: 10px;
  margin-top: 20px;
}
.wear {
  width: 1000px;
  height: 582px;
}
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.section-2 .artikle {
  text-align: center;
}
.section-2 .text {
  padding: 20px 0px 20px;
  max-width: 825px;
}
.section-2 p {
  text-align: left;
}
.section-3 {
  padding-top: 0px;
}
.section-3 img {
  width: 405px;
  height: 308px;
}
.section-3 .categorys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-text: left;
}

.section-3 .categorys .category {
  padding: 10px 10px 10px;
  max-width: 450px;
  transition: 0.6s;
}

.section-3 .categorys .category:hover {
  background-color: #bde2ea;
  transition: 0.6s;
}

.section-3 .categorys .category strong {
  font-size: 100%;
  align-text: left;
}

.section-4 {
  padding: 0px 0px 100px;
  display: flex;
  justify-content: center;
}

.section-4 div {
  max-width: 450px;
  text-align: center;
}

.section-5 {
  position: relative;
  align-items: start;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #1b7c9d;
}
.section-5 .decoration {
  position: absolute;
  right: 0;
  top: 0;
  /* z-index: -1; */
}
.section-5 p {
  margin-top: 100px;
  text-align: center;
}
.section-5 .atas {
  display: flex;
  align-items: start;
}
.section-5 .white-logo {
  padding-right: 100px;
}
.section-5 ul {
  list-style-type: none;
  margin: 0;
  padding-right: 50px;
}
.section-5 ul li {
  padding: 20px 0 0px;
}
.section-5 ul li img {
  padding-right: 5px;
}
.section-5 li,
.section-5 strong,
.section-5 p {
  color: white;
}
.section-5 li,
.section-5 p {
  font-size: smaller;
}
.section-5 .line {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}
