/* style.css */

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 27px;  
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 16px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.btn-sign-up {
    width: 135px;
    height: 40px;
    border-radius: 20px;
    background-color: #1B7C9D;
    color: #ffffff;
    border: none;
}
.background{
    padding: 20px;
    margin: -100px 0px 0px 190px;
    position: relative;
}
.note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-items: center;
}

.note h1 {
    position: absolute;
    top: 40%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #242323;
}
.note h4 {
    position: absolute;
    top: 45%;
    font-size: 30px;
    line-height: 40px;
    color: #242323;
}
.note p {
    position: absolute;
    top: 50%;
    font-size: 15px;
    line-height: 40px;
    color: #242323;
}=

.container {
    margin-left: 74px;
    margin-top: 65px;
}

.container form {
    top: 167px;
    left: 8px;
}

.container label {
    display: block;
    width: 400px;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.container button {
    width: 400px;
    height: 60px;
    background-color: #24317F;
    color: #ffffff;
    border: none;
    border-radius: 32px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 0;
    margin-top: 10px; /* Adjusted margin-top value */
}

.container .divider {
    position: absolute;
    top: 441px;
    left: 115px;
    width: 170px;
    height: 1px;
    background-color: #000;
}

.container .or-text {
    position: absolute;
    top: 430px;
    left: 270px;
    background-color: #fff;
    padding: 0 10px;
}

.container .right-divider {
    position: absolute;
    top: 441px;
    left: 310px;
    width: 170px;
    height: 1px;
    background-color: #000;
}
.container-login {
    margin-top: 60px;
}
.container-login label {
    display: flex;
    align-items: center;
    width: 400px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.container-login .google-logo,
.container-login .facebook-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px; 
}

.container-login a {
    margin-left: 5px;
}
.container-login p {
position: absolute;
top: 632px; 
left: 164px;
margin: 0; 
}
.container-login a {
text-decoration: none; /* Remove underline */
}
