/* style.css */

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 27px;  
    color: #000000;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 16px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

.btn-sign-up {
    width: 135px;
    height: 40px;
    border-radius: 20px;
    background-color: #1B7C9D;
    color: #ffffff;
    border: none;
}
.background{
    padding: 20px;
    margin: -100px 0px 0px 190px;
    position: relative;
}
.note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-items: center;
}

.note h1 {
    position: absolute;
    top: 40%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #242323;
}
.note h4 {
    position: absolute;
    top: 45%;
    font-size: 30px;
    line-height: 40px;
    color: #242323;
}
.note p {
    position: absolute;
    top: 50%;
    font-size: 15px;
    line-height: 40px;
    color: #242323;
}
